grpcio==1.41.1
googleapis-common-protos==1.6.0
cython>=0.29.24
# TODO (tenzen-y): We need to delete the line to install protobuf after tensorflow-aarch64 v2.9.1, or higher has been released.
# To avoid the `If this call came from a _pb2.py file, your generated code is out of date and must be regenerated with protoc >= 3.19.0.` error,
# we must restrict the protobuf version.
protobuf >= 3.9.2, < 3.20; platform_machine=="aarch64"
tensorflow==2.9.1; platform_machine=="x86_64"
tensorflow-aarch64==2.9.0; platform_machine=="aarch64"
