apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
# Namespace.
- ../../components/namespace/
# Katib controller.
- ../../components/controller/
# Katib CRDs.
- ../../components/crd/
# Katib DB manager.
- ../../components/db-manager/
# Katib UI.
- ../../components/ui/
# Katib webhooks.
- ../../components/webhook/
images:
- name: ghcr.io/kubeflow/katib/katib-controller
  newName: ghcr.io/kubeflow/katib/katib-controller
  newTag: v0.19.0
- name: ghcr.io/kubeflow/katib/katib-db-manager
  newName: ghcr.io/kubeflow/katib/katib-db-manager
  newTag: v0.19.0
- name: ghcr.io/kubeflow/katib/katib-ui
  newName: ghcr.io/kubeflow/katib/katib-ui
  newTag: v0.19.0
# Modify katib-mysql-secrets with parameters for the DB.
  # Secret for webhooks certs.
secretGenerator:
- envs:
  - secrets.env
  name: katib-mysql-secrets
- name: katib-webhook-cert
  options:
    disableNameSuffixHash: true
configMapGenerator:
- behavior: create
  files:
  - katib-config.yaml
  name: katib-config
  options:
    disableNameSuffixHash: true
patches:
- path: patches/db-manager.yaml
