---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
  - ../katib-cert-manager
  # Kubeflow Katib components.
  - kubeflow-katib-roles.yaml
  - ui-virtual-service.yaml
  - istio-authorizationpolicy.yaml
images:
  - name: docker.io/kubeflowkatib/katib-controller
    newName: docker.io/kubeflowkatib/katib-controller
    newTag: v0.15.0-rc.0
  - name: docker.io/kubeflowkatib/katib-db-manager
    newName: docker.io/kubeflowkatib/katib-db-manager
    newTag: v0.15.0-rc.0
  - name: docker.io/kubeflowkatib/katib-ui
    newName: docker.io/kubeflowkatib/katib-ui
    newTag: v0.15.0-rc.0

patchesStrategicMerge:
  - patches/remove-namespace.yaml

patches:
  # Extend RBAC permission list of katib-ui so it can
  # create SubjectAccessReview resources.
  - target:
      kind: ClusterRole
      name: katib-ui
      group: rbac.authorization.k8s.io
      version: v1
    path: patches/ui-rbac.yaml
  # Enable RBAC authz checks in UI's backend.
  - target:
      version: v1
      kind: Deployment
      name: katib-ui
    path: patches/enable-ui-authz-checks.yaml
  # Allow istio sidecar injection in katib-UI Pod.
  - target:
      kind: Deployment
      name: katib-ui
    path: patches/istio-sidecar-injection.yaml

vars:
  - fieldref:
      fieldPath: metadata.namespace
    name: KATIB_UI_NAMESPACE
    objref:
      apiVersion: apps/v1
      kind: Deployment
      name: katib-ui

configurations:
  - params.yaml
