apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
- ../katib-cert-manager
# Kubeflow Katib components.
- kubeflow-katib-roles.yaml
- ui-virtual-service.yaml
- istio-authorizationpolicy.yaml
images:
- name: ghcr.io/kubeflow/katib/katib-controller
  newName: ghcr.io/kubeflow/katib/katib-controller
  newTag: v0.19.0
- name: ghcr.io/kubeflow/katib/katib-db-manager
  newName: ghcr.io/kubeflow/katib/katib-db-manager
  newTag: v0.19.0
- name: ghcr.io/kubeflow/katib/katib-ui
  newName: ghcr.io/kubeflow/katib/katib-ui
  newTag: v0.19.0
  
patches:
# Extend RBAC permission list of katib-ui so it can
# create SubjectAccessReview resources.
- path: patches/ui-rbac.yaml
  target:
    group: rbac.authorization.k8s.io
    kind: ClusterRole
    name: katib-ui
    version: v1
# Enable RBAC authz checks in UI's backend.
- path: patches/enable-ui-authz-checks.yaml
  target:
    kind: Deployment
    name: katib-ui
    version: v1
# Allow istio sidecar injection in katib-UI Pod.
- path: patches/istio-sidecar-injection.yaml
  target:
    kind: Deployment
    name: katib-ui
- path: patches/remove-namespace.yaml


configurations:
- params.yaml
replacements:
- source:
    fieldPath: metadata.namespace
    group: apps
    kind: Deployment
    name: katib-ui
    version: v1
  targets:
  - fieldPaths:
    - spec.http.0.route.0.destination.host
    options:
      delimiter: .
      index: 1
    select:
      group: networking.istio.io
      kind: VirtualService
      name: katib-ui
      version: v1alpha3
