.panel {
  margin: 16px 0;
  display: block;
}

.graph-wrapper {
  margin: 16px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.graph {
  width: 400px;

  @media (min-width: 768px) {
    width: 700px;
  }

  @media (min-width: 1024px) {
    width: 1000px;
  }

  @media (min-width: 1400px) {
    width: 1300px;
  }

  @media (min-width: 1650px) {
    width: 1600px;
  }

  @media (min-width: 2000px) {
    width: 1900px;
  }

  height: 600px;
}

// https://github.com/angular/components/issues/9592
.tab-height-fix {
  min-height: calc(100vh - 600px - 52px);
  clear: both;
}
