.modal {
  width: 820px;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 16px;
}

.loader {
  display: flex;
  flex: 1;
  align-items: center;
}
