{{ define "content" }}
<link rel="stylesheet" href="/katib/static/css/linegraph.css"></link>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<div class="container-fluid mr-3 ml-3">
    <h1>Worker ID: {{.IDList.WorkerId}}</h1>
    <div class="float-right">
        <a class="btn btn-outline-info" href="/katib/{{.IDList.StudyId}}/WorkerID/{{.IDList.WorkerId}}/csv" download="Worker-{{.IDList.WorkerId}}.csv" target="_blank"><i class="fa fa-download"></i>CSV Download</a>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#param">
        TrialID {{.IDList.TrialId}}
    </button>
    <div id="param" class="collapse">
        <table class="table table-hover">
            <thead>
                    <tr>
                        <th scope="col">ParameterName</th>
                        <th scope="col">Value</th>
                    </tr>
            </thead>
            <tbody>
               {{- range .Parameters}}
               <tr class="table-secondary">
                   <th>{{.Name}}</th>
                   <td>{{.Value}}</td>
               </tr>
               {{end}}
           </tbody>
        </table>
    </div>
    <div class="container-fluid bg-secondary">
        <canvas id="canvas" ></canvas>
        <script>
            {{ template "linegraphcjs" . }}
        </script>
    </div>
</div>
{{ end }}
