grpcio>=1.64.1
protobuf>=4.21.12,<5
googleapis-common-protos==1.53.0
# NumPy 2.x only on Power (ppc64le)
numpy<2.0 ; platform_machine == "ppc64le"
# NumPy for all other architectures
numpy==1.25.2 ; platform_machine != "ppc64le"
