{{ define "breadcrumb" }}
<ol class="breadcrumb">
    {{ if eq .StudyId ""}}
        <li class="breadcrumb-item active">
            <a href="/katib">
                Katib UI
            </a>
        </li>
    {{ else }}
        <li class="breadcrumb-item">
            <a href="/katib">
                Katib UI
            </a>
        </li>
        {{ if eq .TrialId ""}}
            <li class="breadcrumb-item active">
                <a href="/katib/{{.StudyId}}">
                    Study : {{.StudyId}}
                </a>
            </li>
        {{ else }}
            <li class="breadcrumb-item">
                <a href="/katib/{{.StudyId}}">
                    Study : {{.StudyId}}
                </a>
            </li>
            {{ if eq .WorkerId ""}}
                <li class="breadcrumb-item active">
                    <a href="/katib/{{.StudyId}}/TrialID/{{.TrialId}}">
                        Trial : {{.TrialId}}
                    </a>
                </li>
            {{ else }}
                <li class="breadcrumb-item">
                    <a href="/katib/{{.StudyId}}/TrialID/{{.TrialId}}">
                        Trial : {{.TrialId}}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="/katib/{{.StudyId}}/WorkerID/{{.WorkerId}}">
                        Worker : {{.WorkerId}}
                    </a>
                </li>
            {{ end }}
        {{ end }}
    {{ end }}
</ol>
{{ end }}
