{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="/katib">Katib UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
              <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 42px, 0px);">
                  <a class="dropdown-item" href="/katib">StudyList</a>
                  <a class="dropdown-item" href="/katib/studyjob">Create New StudyJob</a>
                  <a class="dropdown-item" href="/katib/workertemplates">Manage WorkerTemplate</a>
              </div>
            </li>
            {{ if ne .StudyId ""}}
            <li class="nav-item">
                <a class="nav-link" href="/katib/{{.StudyId}}">Study : {{.StudyId}}</a>
            </li>
            {{ end }}
            {{ if ne .TrialId ""}}
            <li class="nav-item">
                <a class="nav-link" href="/katib/{{.StudyId}}/TrialID/{{.TrialId}}">Trial : {{.TrialId}}</a>
            </li>
            {{ end }}
            {{ if ne .WorkerId ""}}
            <li class="nav-item">
                <a class="nav-link" href="/katib/{{.StudyId}}/WorkerID/{{.WorkerId}}">Worker : {{.WorkerId}}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>
{{ end }}
