{{ define "content" }}
<div class="container-fluid bg-active">
<h1>Study List</h1>
    <div class="card-columns">
        {{- range $k,$v := .StudySummarys}}
        <div class="card text-white bg-secondary" >
            <div class="card-body rounded">
                <h4 class="card-title">{{$k}}</h4>
                <p class="card-text"> 
                <table class="table table-hover">
                  <thead>
                      <tr>
                          <th scope="col">StudyID</th>
                          <th scope="col">Owner</th>
                      </tr>
                  </thead>
                  <tbody>
                      {{- range $v}}
                      <tr class="table-secondary">
                          <td><a href="/katib/{{.StudyId}}">{{.StudyId}}</a></td>
                          <td>{{.Owner}}</td>
                      </tr>
                      {{- end}}
                  </tbody>
                </table>
                </p>
            </div>
        </div>
        {{- end}}
    </div>
</div>
{{ end }}
