{{ define "content" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.8.2/js-yaml.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<div id="app">
    <div class="container">
    <div class="row">
    <div class="col-md-6">
        <h3>Create StudyJob</h3>
        <div id="app">
            <div class="form-group">
                <label for="txtStudyName">Study Name:</label>
                <input type="text" class="form-control form-control-sm" id="txtStudyName" name="txtStudyName" v-model="StudyName" />
            </div>
            <div class="form-group">
                <label for="txtOwner">Owner:</label>
                <input type="text" class="form-control form-control-sm" id="txtOwner" name="txtOwner" v-model="Owner" />
            </div>
            <div>
                <label for="selOptType">OptimizationType</label>
                <select class="form-control form-control-sm" name="selOptType" ID="selOptType" v-model="OptType" style="min-width: 100px;">
                <option value="maximize">Maxmize</option>
                <option value="minimize">Minimize</option>
                </select>
            </div>
            <div class="form-group">
                <label for="txtOptGoal">Optimization Goal:</label>
                <input type="number" class="form-control form-control-sm" id="txtOptGoal" name="txtOptGoal" v-model="OptGoal" />
            </div>
            <div class="form-group">
                <label for="txtObjName">Objective Value Name:</label>
                <input type="text" class="form-control form-control-sm" id="txtObjName" name="txtObjName" v-model="ObjName" />
            </div>
            <div class="form-group">
                <label for="txtMetrics">Metrics ( space separated ):</label>
                <input type="text" class="form-control form-control-sm" id="txtMetrics" name="txtMetrics" v-model="Metrics" />
            </div>
            <div class="form-group">
                <label for="txtRequestCount">Request Count:</label>
                <input type="number" class="form-control form-control-sm" id="txtRequestCount" name="txtRequestCount" v-model="RequestCount" />
            </div>

            <div class="form-group">
                <label for="txtStudyJobName">Study Job Name:</label>
                <input type="text" class="form-control form-control-sm" id="txtStudyJobName" name="txtStudyJobName" v-bind:placeholder="StudyJobName" v-model="StudyJobNameOverwrite" />
            </div>
            <div class="form-group">
                <label for="txtNameSpace">Name Space:</label>
                <input type="text" class="form-control form-control-sm" id="txtNameSpace" name="txtNameSpace" v-model="NameSpace" />
            </div>

            <div>
                <label for="selWorkerTemplate">WorkerTemplate</label>
                <select class="form-control form-control-sm mb-3" name="selWorkerTemplate" ID="selWorkerTemplate" v-model="WorkerTemplateName" style="min-width: 100px;">
                {{- range $k,$v := .WorkerTemplates}}
                <option value="{{$k}}">{{$k}}</option>
                {{- end}}
                <option value="scratch">From scratch</option>
                </select>
            </div>
            <textarea id="WorkerTemplateScratch" name="WorkerTemplateScratch" v-model="WorkerTemplateScratch" class="form-control mb-2" style="min-width: 100%" v-bind:disabled="WorkerTemplateName!='scratch'" v-bind:placeholder="WorkerTemplateValue">
            </textarea>
            <a href="/katib/workertemplates" class="btn btn-success btn-sm mb-3" role="button">Manage Worker Templates</a>

            <div>
                <label for="selMetricsCollectorTemplate">MetricsCollectorTemplate</label>
                <select class="form-control form-control-sm mb-3" name="selMetricsCollectorTemplate" ID="selMetricsCollectorTemplate" v-model="MetricsCollectorTemplateName" style="min-width: 100px;">
                {{- range $k,$v := .MetricsCollectorTemplates}}
                <option value="{{$k}}">{{$k}}</option>
                {{- end}}
                <option value="scratch">From scratch</option>
                </select>
            </div>
            <textarea id="MetricsCollectorTemplateScratch" name="MetricsCollectorTemplateScratch" v-model="MetricsCollectorTemplateScratch" class="form-control mb-2" style="min-width: 100%" v-bind:disabled="MetricsCollectorTemplateName!='scratch'" v-bind:placeholder="MetricsCollectorTemplateValue">
            </textarea>
            <a href="/katib/metricscollectortemplates" class="btn btn-success btn-sm mb-3" role="button">Manage MetricsCollector Templates</a>

            <div class="card border-light mb-3">
				<div class="card-header">
					<h4>Suggestion Spec</h4>
				</div>
                <div class="card-body">
                    <div>
                        <label for="selSuggestAlgo">Suggestion Algorithm:</label>
                        <select class="form-control form-control-sm" name="selSuggestAlgo" ID="selSuggestAlgo" v-model="SuggestAlgoSelect" style="min-width: 100px;">
                        <option value="random">Random</option>
                        <option value="grid">Grid</option>
                        <option value="bayesianoptimization">BayesianOptimization</option>
                        <option value="hyperband">HyperBand</option>
                        <option value="custom">Custom</option>
                        </select>
                    </div>
                    <div class="form-group" v-if="SuggestAlgoSelect=='custom'">
                        <label for="txtSuggestionAlgo">Custom Algorithm:</label>
                        <input type="text" class="form-control form-control-sm" id="txtSuggestionAlgo" name="txtSuggestionAlgo" v-model="SuggestAlgoCustom" />
                    </div>
                    <div class="form-group" >
                        <label for="txtSuggestionReqNum">RequestNumber:</label>
                        <input type="number" class="form-control form-control-sm" id="txtSuggestionReqNum" name="txtSuggestionReqNum" v-model="SuggestionReqNum" />
                    </div>
                    <button class="btn btn-primary btn-sm mb-2" v-on:click="SetSuggestionParameterDefault" v-if="SuggestAlgoSelect!='custom'">Set Default Parameters</button>
                    <label for="txtSuggestionParam">Suggestion Parameters:</label>
                    <div v-for="sparam in SuggestionParameters">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-5">
                                    <input type="text" class="form-control form-control-sm" id="txtSuggestionParamName" name="txtSuggestionParamName" v-bind:placeholder="sparam.NameDefault" v-model="sparam.Name" />
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control form-control-sm" id="txtSuggestionParamValue" name="txtSuggestionParamValue" v-bind:placeholder="sparam.ValueDefault" v-model="sparam.Value" />
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-primary btn-sm" v-on:click="deleteSuggestionParameter(sparam)"><i class="fas fa-minus-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm" v-on:click="addSuggestionParameter"><i class="fa fa-plus-circle" style="color:#6BCAE2;"></i> Add SuggestionParameter</button>
                </div>
            </div>

            <div class="card border-light">
				<div class="card-header">
					<h4>ParameterConfigs</h4>
				</div>
                <div class="card-body">
                    <button class="btn btn-primary" v-on:click="addParameterConfig"><i class="fa fa-plus-circle" style="color:#6BCAE2;"></i> Add ParameterConfig</button>
                    <div v-for="param in ParameterConfigs">
                        <div class="card border-info mb-3">
                            <div class="card-body">
                                <div class="input-group">
                                    <span class="input-group-addon" ><button v-on:click="deleteParam(param)"><i class="fa fa-trash fa-lg"></i></button></span>
                                </div>
                                <div class="form-group" >
                                    <label for="txtPmax">Parameter Name:</label>
                                    <input type="text" class="form-control form-control-sm" v-model="param.Name" />
                                </div>
                                <div>
                                    <label for="selParamType">OptimizationType</label>
                                    <select class="form-control form-control-sm" name="selParamType" ID="selParamType" v-model="param.Type" style="min-width: 100px;">
                                        <option value="int">Int</option>
                                        <option value="double">Double</option>
                                        <option value="categorical">Categorical</option>
                                        <option value="discrete">Discrete</option>
                                    </select>
                                </div>
                                <div class="form-group" v-show="param.Type == 'int' || param.Type == 'double'" >
                                    <label for="txtPmax">Max:</label>
                                    <input type="text" class="form-control form-control-sm" id="txtPmax" name="txtPmax" v-model="param.Max" />
                                </div>
                                <div class="form-group" v-show="param.Type == 'int' || param.Type == 'double'" >
                                    <label for="txtPmin">Min:</label>
                                    <input type="text" class="form-control form-control-sm" id="txtPmin" name="txtPmin" v-model="param.Min" />
                                </div>
                                <div class="form-group" v-show="param.Type == 'categorical' || param.Type == 'discrete'" >
                                    <label for="txtplist">List ( space separated ):</label>
                                    <input type="text" class="form-control form-control-sm" id="txtplist" name="txtplist" v-model="param.List" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-dism buttonissible alert-success" v-if="created">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Created successfully!</h4>
                <p class="mb-0">Sutudyjob {{`{{StudyName}}`}} has created successfully.</p>
        </div>
        <button class="btn btn-info mb-3" v-on:click="uploadStudyJob">Create StudyJob</button>
    </div>
	<div class="col-md-6">
    <h4>Generated StudyJob YAML</h4>
        <pre>
{{`{{StudyJobYaml}}`}}
        </pre>
	</div>
	</div>
	</div>
</div>
{{ template "studyjobgenscript" . }}
{{ end }}
