{{ define "content" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.8.2/js-yaml.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<link rel="stylesheet" href="/katib/static/css/codemirror.css">
<link rel="stylesheet" href="/katib/static/css/editmodal.css">
<script src="/katib/static/js/codemirror.js"></script>
<script src="/katib/static/js/yaml.js"></script>
<script src="/katib/static/js/autorefresh.js"></script>
<div id="app">
    <div class="container-fluid bg-active">
        <h1>Worker Templates</h1>
        <div class="row">
            <button type="button" class="btn btn-success mb-3" v-on:click="uploadWorkerTemplates()">Upload Templates</button>
            <p class="text-warning" v-if="edited">
                Your change is not applied until push "Upload Templates" button.
            </p>
        </div>
        <div class="row">
            <div v-for="wt in WorkerTemplates">
                <div class="card text-white bg-secondary mb-3" >
                    <div class="card-header">
                        <button type="button" class="btn btn-primary" v-on:click="deleteWorkerTemplate(wt)">Delete</button>
                        <button type="button" class="btn btn-primary" v-on:click="copyWorkerTemplate(wt)">Copy</button>
                        <button type="button" class="btn btn-primary" @click="openEditor(wt)">Edit</button>
                    </div>
                    <div class="card-body rounded">
                        <h4 class="card-title">{{`{{wt.Name}}`}}</h4>
                        <div class="card bg-secondary" >
                            <div class="card-body rounded">
                                <pre>
{{`{{wt.    Value}}`}}
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" v-on:click="addWorkerTemplate"><i class="fa fa-plus-circle" style="color:#6BCAE2;"></i> Add a New Template</button>
            <div>&nbsp;</div>
        </div>
    </div>
    <modal v-show="edit" @save='saveModal' @cancel="cancelModal">
      <h3 slot="header">
          <div class="form-group">
              <input type="text" class="form-control" id="txtWorkerTemplateName" name="txtWorkerTemplateName" v-model="TmpName" />
          </div>
      </h3>
      <form slot="body">
          <textarea id="code" name="code" v-model="EditTemplate.Value">
          </textarea>
      </form>
    </modal>
</div>

<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="modal-default-button" @click="$emit('save')">
                   Save 
              </button>
              <button class="modal-default-button" @click="$emit('cancel')">
                   Cancel
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

{{ template "workertemplatescript" . }}
{{ end }}
