grpcio==1.41.1
cloudpickle==0.5.6
numpy>=1.20.0
scikit-learn>=0.24.0
scipy>=1.5.4
forestci==0.3
protobuf==3.19.5
googleapis-common-protos==1.6.0
SQLAlchemy==1.4.26
git+https://github.com/AIworx-Labs/chocolate@master
ghalton>=0.6.2; platform_machine=="x86_64"
git+https://github.com/fmder/ghalton@master; platform_machine=="aarch64"
cython>=0.29.24
