/* You can add global styles to this file, and also import other style files */
@import '~kubeflow/styles.scss';

body {
  background-color: white;
  margin: 0;
}

.experiment-title {
  font-weight: 400;
  font-size: 20px;
}

.experiment-subTitle {
  font-weight: 400;
  font-size: 18px;
}

.experiment-bold-text {
  font-weight: 500;
}

.experiment-container {
  padding-top: 1.5rem;
  margin: auto;
}

.experiment-divider {
  margin-top: 16px;
  margin-bottom: 32px;
}

.experiment-add-button.mat-button {
  border: 1px solid;
  padding-left: 10px;
}

.two-inputs {
  display: flex;

  .mat-form-field:nth-child(2) {
    margin-left: 12px;
  }
}
