# Composite action for e2e tests.
name: Run E2E Test
description: Run e2e test using the minikube cluster

inputs:
  experiments:
    required: false
    description: comma delimited experiment name
    default: ""
  training-operator:
    required: false
    description: whether to deploy training-operator or not
    default: false
  trial-images:
    required: false
    description: comma delimited trial image name
    default: ""
  katib-ui:
    required: true
    description: whether to deploy katib-ui or not
    default: false
  database-type:
    required: false
    description: mysql or postgres
    default: mysql
  tune-api:
    required: true
    description: whether to execute tune-api test or not
    default: false

runs:
  using: composite
  steps:
    - name: Setup Minikube Cluster
      shell: bash
      run: ./test/e2e/v1beta1/scripts/gh-actions/setup-minikube.sh ${{ inputs.katib-ui }} ${{ inputs.trial-images }} ${{ inputs.experiments }}

    - name: Setup Katib
      shell: bash
      run: ./test/e2e/v1beta1/scripts/gh-actions/setup-katib.sh ${{ inputs.katib-ui }} ${{ inputs.training-operator }} ${{ inputs.database-type }}

    - name: Run E2E Experiment
      shell: bash
      run: |
        if [ "${{ inputs.tune-api }}" = "true" ]; then
          ./test/e2e/v1beta1/scripts/gh-actions/run-e2e-tune-api.sh
        else
          ./test/e2e/v1beta1/scripts/gh-actions/run-e2e-experiment.sh ${{ inputs.experiments }}
        fi
