name: Publish Trial Images

on:
  push:
    branches:
      - master

jobs:
  trial-mxnet-mnist:
    name: Trial MXNet MNIST
    uses: kubeflow/katib/.github/workflows/publish-image-template.yaml@master
    with:
      image: docker.io/kubeflowkatib/mxnet-mnist
      dockerfile: examples/v1beta1/trial-images/mxnet-mnist/Dockerfile
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  trial-pytorch-mnist:
    name: Trial PyTorch MNIST
    uses: kubeflow/katib/.github/workflows/publish-image-template.yaml@master
    with:
      image: docker.io/kubeflowkatib/pytorch-mnist
      dockerfile: examples/v1beta1/trial-images/pytorch-mnist/Dockerfile
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  trial-enas-cnn-cifar10-gpu:
    name: Trial ENAS CNN CIFAR10 for GPU
    uses: kubeflow/katib/.github/workflows/publish-image-template.yaml@master
    with:
      image: docker.io/kubeflowkatib/enas-cnn-cifar10-gpu
      dockerfile: examples/v1beta1/trial-images/enas-cnn-cifar10/Dockerfile.gpu
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  trial-enas-cnn-cifar10-cpu:
    name: Trial ENAS CNN CIFAR10 for CPU
    uses: kubeflow/katib/.github/workflows/publish-image-template.yaml@master
    with:
      image: docker.io/kubeflowkatib/enas-cnn-cifar10-cpu
      dockerfile: examples/v1beta1/trial-images/enas-cnn-cifar10/Dockerfile.cpu
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  trial-darts-cnn-cifar10:
    name: Trial DARTS CNN CIFAR10
    uses: kubeflow/katib/.github/workflows/publish-image-template.yaml@master
    with:
      image: docker.io/kubeflowkatib/darts-cnn-cifar10
      dockerfile: examples/v1beta1/trial-images/darts-cnn-cifar10/Dockerfile
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
