name: Publish Trial Images

on:
  push:
    branches:
      - master

env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  trial:
    name: Publish Image
    # Trigger workflow only for kubeflow/katib repository.
    if: github.repository == 'kubeflow/katib'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Publish Trial ${{ matrix.trial-name }}
        uses: ./.github/workflows/template-publish-image
        with:
          image: docker.io/kubeflowkatib/${{ matrix.trial-name }}
          dockerfile: ${{ matrix.dockerfile }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - trial-name: mxnet-mnist
            dockerfile: examples/v1beta1/trial-images/mxnet-mnist/Dockerfile
          - trial-name: pytorch-mnist
            dockerfile: examples/v1beta1/trial-images/pytorch-mnist/Dockerfile
          - trial-name: tf-mnist-with-summaries
            dockerfile: examples/v1beta1/trial-images/tf-mnist-with-summaries/Dockerfile
          - trial-name: enas-cnn-cifar10-gpu
            dockerfile: examples/v1beta1/trial-images/enas-cnn-cifar10/Dockerfile.gpu
          - trial-name: enas-cnn-cifar10-cpu
            dockerfile: examples/v1beta1/trial-images/enas-cnn-cifar10/Dockerfile.cpu
          - trial-name: darts-cnn-cifar10-cpu
            dockerfile: examples/v1beta1/trial-images/darts-cnn-cifar10/Dockerfile.cpu
          - trial-name: darts-cnn-cifar10-gpu
            dockerfile: examples/v1beta1/trial-images/darts-cnn-cifar10/Dockerfile.gpu
