name: Publish Trial Images

on:
  push:
  pull_request:
    paths-ignore:
      - "pkg/ui/v1beta1/frontend/**"

jobs:
  trial:
    name: Publish Image
    uses: ./.github/workflows/build-and-publish-images.yaml
    with:
      component-name: ${{ matrix.trial-name }}
      platforms: ${{ matrix.platforms }}
      dockerfile: ${{ matrix.dockerfile }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - trial-name: mxnet-mnist
            platforms: linux/amd64,linux/arm64
            dockerfile: examples/v1beta1/trial-images/mxnet-mnist/Dockerfile
          - trial-name: pytorch-mnist-cpu
            platforms: linux/amd64,linux/arm64
            dockerfile: examples/v1beta1/trial-images/pytorch-mnist/Dockerfile.cpu
          - trial-name: pytorch-mnist-gpu
            platforms: linux/amd64
            dockerfile: examples/v1beta1/trial-images/pytorch-mnist/Dockerfile.gpu
          - trial-name: tf-mnist-with-summaries
            platforms: linux/amd64,linux/arm64
            dockerfile: examples/v1beta1/trial-images/tf-mnist-with-summaries/Dockerfile
          - trial-name: enas-cnn-cifar10-gpu
            platforms: linux/amd64
            dockerfile: examples/v1beta1/trial-images/enas-cnn-cifar10/Dockerfile.gpu
          - trial-name: enas-cnn-cifar10-cpu
            platforms: linux/amd64,linux/arm64
            dockerfile: examples/v1beta1/trial-images/enas-cnn-cifar10/Dockerfile.cpu
          - trial-name: darts-cnn-cifar10-cpu
            platforms: linux/amd64,linux/arm64
            dockerfile: examples/v1beta1/trial-images/darts-cnn-cifar10/Dockerfile.cpu
          - trial-name: darts-cnn-cifar10-gpu
            platforms: linux/amd64
            dockerfile: examples/v1beta1/trial-images/darts-cnn-cifar10/Dockerfile.gpu
          - trial-name: simple-pbt
            platforms: linux/amd64,linux/arm64
            dockerfile: examples/v1beta1/trial-images/simple-pbt/Dockerfile
