name: Publish Katib Core Images

on:
  push:
    branches:
      - master

jobs:
  # Katib Core Images.
  controller:
    name: Controller
    uses: kubeflow/katib/.github/workflows/template-publish-image.yaml@master
    with:
      image: docker.io/kubeflowkatib/katib-controller
      dockerfile: cmd/katib-controller/v1beta1/Dockerfile
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  db-manager:
    name: DB Manager
    uses: kubeflow/katib/.github/workflows/template-publish-image.yaml@master
    with:
      image: docker.io/kubeflowkatib/katib-db-manager
      dockerfile: cmd/db-manager/v1beta1/Dockerfile
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  ui:
    name: UI
    uses: kubeflow/katib/.github/workflows/template-publish-image.yaml@master
    with:
      image: docker.io/kubeflowkatib/katib-ui
      dockerfile: cmd/new-ui/v1beta1/Dockerfile
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  cert-generator:
    name: Cert Generator
    uses: kubeflow/katib/.github/workflows/template-publish-image.yaml@master
    with:
      image: docker.io/kubeflowkatib/cert-generator
      dockerfile: cmd/cert-generator/v1beta1/Dockerfile
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  # Metrics Collector Images.
  metrics-collector-file:
    name: File Metrics Collector
    uses: kubeflow/katib/.github/workflows/template-publish-image.yaml@master
    with:
      image: docker.io/kubeflowkatib/file-metrics-collector
      dockerfile: cmd/metricscollector/v1beta1/file-metricscollector/Dockerfile
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  metrics-collector-tfevent:
    name: TFEvent Metrics Collector
    uses: kubeflow/katib/.github/workflows/template-publish-image.yaml@master
    with:
      image: docker.io/kubeflowkatib/tfevent-metrics-collector
      dockerfile: cmd/metricscollector/v1beta1/tfevent-metricscollector/Dockerfile
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
