name: Frontend Test

on:
  - push
  - pull_request

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 12.18.1

      - name: Run Node test
        run: |
          version=$(cd pkg/new-ui/v1beta1/frontend && node -p "require('prettier/package.json').version")
          npm install --global prettier@${version}
          make prettier-check
