name: Frontend Test

on:
  - push
  - pull_request

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 12.18.1

      - name: Run Node test
        run: |
          npm install prettier --prefix ./pkg/new-ui/v1beta1/frontend
          make prettier-check
