name: Go Test

on:
  pull_request:
    paths-ignore:
      - "pkg/ui/v1beta1/frontend/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generatetests:
    name: Generate And Format Test
    runs-on: ubuntu-22.04
    env:
      GOPATH: ${{ github.workspace }}/go
    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/src/github.com/kubeflow/katib
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          path: ${{ env.GOPATH }}/src/github.com/kubeflow/katib

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ env.GOPATH }}/src/github.com/kubeflow/katib/go.mod
          cache-dependency-path: ${{ env.GOPATH }}/src/github.com/kubeflow/katib/go.sum

      - name: Check Go Modules, Generated Go/Python codes, and Format
        run: make check

  unittests:
    name: Unit Test
    runs-on: ubuntu-22.04
    env:
      GOPATH: ${{ github.workspace }}/go
    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/src/github.com/kubeflow/katib
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          path: ${{ env.GOPATH }}/src/github.com/kubeflow/katib

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ env.GOPATH }}/src/github.com/kubeflow/katib/go.mod
          cache-dependency-path: ${{ env.GOPATH }}/src/github.com/kubeflow/katib/go.sum

      - name: Run Go test
        run: go mod download && make test ENVTEST_K8S_VERSION=${{ matrix.kubernetes-version }}

      - name: Coveralls report
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out
          working-directory: ${{ env.GOPATH }}/src/github.com/kubeflow/katib
          parallel: true

    strategy:
      fail-fast: false
      matrix:
        # Detail: `setup-envtest list`
        kubernetes-version: ["1.27.1", "1.28.3", "1.29.3"]

  # notifies that all test jobs are finished.
  finish:
    needs: unittests
    runs-on: ubuntu-22.04
    steps:
      - uses: shogo82148/actions-goveralls@v1
        with:
          parallel-finished: true
